Loading the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import sklearn as skl

In [5]:
wh=pd.read_csv('https://raw.githubusercontent.com/laleksova/Datasets/master/world-happiness-report-2019.csv',index_col='Ladder')

Looking at the data

In [7]:
wh.head()

,Country (region),SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
Ladder,,,,,,,,,,
1,Finland,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
2,Denmark,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
3,Norway,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
4,Iceland,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
5,Netherlands,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [8]:
wh.shape

(156, 10)

In [9]:
wh.columns

Index(['Country (region)', 'SD of Ladder', 'Positive affect',
       'Negative affect', 'Social support', 'Freedom', 'Corruption',
       'Generosity', 'Log of GDP\nper capita', 'Healthy life\nexpectancy'],
      dtype='object')

In [11]:
wh.describe()

,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
count,156.000000,155.000000,155.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000
mean,78.500000,78.000000,78.000000,78.000000,78.000000,74.500000,78.000000,76.500000,75.500000
std,45.177428,44.888751,44.888751,44.888751,44.888751,42.868014,44.888751,44.022721,43.445368
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,39.750000,39.500000,39.500000,39.500000,39.500000,37.750000,39.500000,38.750000,38.250000
50%,78.500000,78.000000,78.000000,78.000000,78.000000,74.500000,78.000000,76.500000,75.500000
75%,117.250000,116.500000,116.500000,116.500000,116.500000,111.250000,116.500000,114.250000,112.750000
max,156.000000,155.000000,155.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000

Cheking for NaN values

In [12]:
wh.isnull().sum()

Country (region)            0
SD of Ladder                0
Positive affect             1
Negative affect             1
Social support              1
Freedom                     1
Corruption                  8
Generosity                  1
Log of GDP\nper capita      4
Healthy life\nexpectancy    6
dtype: int64

In [13]:
wh.replace(['NAN','nan'],np.NaN,inplace=True)

In [14]:
wh.isnull().sum()

Country (region)            0
SD of Ladder                0
Positive affect             1
Negative affect             1
Social support              1
Freedom                     1
Corruption                  8
Generosity                  1
Log of GDP\nper capita      4
Healthy life\nexpectancy    6
dtype: int64

In [15]:
wh[wh['Healthy life\nexpectancy'].isnull()]

,Country (region),SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
Ladder,,,,,,,,,,
25,Taiwan,37,17.0,1.0,48.0,102.0,56.0,56.0,NaN,NaN
46,Kosovo,107,71.0,7.0,85.0,50.0,144.0,31.0,88.0,NaN
64,Northern Cyprus,35,144.0,90.0,81.0,77.0,29.0,43.0,NaN,NaN
76,Hong Kong,33,105.0,28.0,76.0,66.0,14.0,18.0,9.0,NaN
110,Palestinian Territories,110,128.0,140.0,82.0,134.0,90.0,147.0,112.0,NaN
135,Swaziland,104,26.0,57.0,103.0,113.0,41.0,145.0,96.0,NaN

In [16]:
wh.fillna(wh['Healthy life\nexpectancy'].mean(), inplace=True)

In [17]:
wh.fillna(wh['Log of GDP\nper capita'].mean(), inplace=True)

In [18]:
wh.fillna(wh['Corruption'].mean(), inplace=True)

In [19]:
wh.isnull().sum()

Country (region)            0
SD of Ladder                0
Positive affect             0
Negative affect             0
Social support              0
Freedom                     0
Corruption                  0
Generosity                  0
Log of GDP\nper capita      0
Healthy life\nexpectancy    0
dtype: int64

In [21]:
wh.dtypes

Country (region)             object
SD of Ladder                  int64
Positive affect             float64
Negative affect             float64
Social support              float64
Freedom                     float64
Corruption                  float64
Generosity                  float64
Log of GDP\nper capita      float64
Healthy life\nexpectancy    float64
dtype: object

In [23]:
wh.corr()

,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
SD of Ladder,1.000000,0.085313,0.619145,0.599344,0.251771,0.254883,0.392056,0.622691,0.603447
Positive affect,0.085313,1.000000,0.389710,0.386281,0.681776,0.205563,0.354890,0.292344,0.324849
Negative affect,0.619145,0.389710,1.000000,0.621895,0.430252,0.156875,0.338240,0.523975,0.473712
Social support,0.599344,0.386281,0.621895,1.000000,0.448914,0.116866,0.442443,0.751316,0.737676
Freedom,0.251771,0.681776,0.430252,0.448914,1.000000,0.373110,0.490001,0.399127,0.411721
Corruption,0.254883,0.205563,0.156875,0.116866,0.373110,1.000000,0.259256,0.188006,0.119005
Generosity,0.392056,0.354890,0.338240,0.442443,0.490001,0.259256,1.000000,0.473250,0.419290
Log of GDP\nper capita,0.622691,0.292344,0.523975,0.751316,0.399127,0.188006,0.473250,1.000000,0.826609
Healthy life\nexpectancy,0.603447,0.324849,0.473712,0.737676,0.411721,0.119005,0.419290,0.826609,1.000000

Spliting the data

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
y = wh['Healthy life\nexpectancy']
feutures = ['Social support', 'Log of GDP\nper capita']
X = wh[feutures]

In [26]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size=0.20, random_state=1)

Choosing a model

In [27]:
from sklearn.linear_model import SGDRegressor

In [28]:
wh_model = SGDRegressor()

Model Evaluation

In [29]:
#Cross Validation
from sklearn.model_selection import cross_val_score

In [30]:
scores = -1 * cross_val_score(wh_model, Xtest, ytest,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MAE scores:\n", scores)

MAE scores:
 [2.30185220e+13 1.16727426e+13 2.38889698e+13 2.14313795e+12
 2.34651663e+13]

In [31]:
print("Average MAE score (across experiments):")
print(scores.mean())

Average MAE score (across experiments):
16837707736203.838